* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container-portafolio {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/portafolio-membretado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#carrusel {
    float: left;
    width: 1054px;
    overflow: hidden;
    height: 550px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

#carrusel .left-arrow {
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 50%;
    margin-top: -9px;
}

#carrusel .right-arrow {
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 50%;
    margin-top: -9px;
}

.right-arrow,
.left-arrow {
    cursor: pointer;
}

.container-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

i {
    color: white;
    font-size: 2rem;
}

.container-texto h1 a {
    color: white;
}

.separacion {
    font-size: 2rem;
}

.carrusel {
    width: 4000px;
    left: 0px;
    position: absolute;
    z-index: 0;
    transition: margin-left 250ms;
}

.carrusel div.product {
    float: left;
    height: 558px;
    margin-right: 5px;
    width: 353px;
    text-align: center;
}

.imagenCarrusel {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 1057px){
    #carrusel {
        float: left;
        width: 88%;
        overflow: hidden;
        height: 550px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }
    .container-texto h1{
        font-size: 1rem;
    }
    .separacion {
        font-size: 1rem;
    }
}